* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--dark);
    background-color: var(--body-bg);
    overflow-x: hidden;
}

.container {
    display: flex;
    height: 100vh;
}

.main-content {
	flex-grow: 1;
	padding: 30px;
	overflow-y: auto;
}
