.main-content{
    padding: 20px 10px;
}

.testonomials{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

form{
    gap: 10px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
}

.input-field{
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.input-field > div{
    gap: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-field textarea {
    width: 90%;
    resize: none;
    padding: 14px;
    outline: none;
    font-size: 16px;
    color: #1e293b;
    border-radius: 10px;
    transition: all 0.3s ease;
    border: 1px solid #334155;
}

#btn-submit{
    gap: 6px;
    border: none;
    padding: 16px;
    display: flex;
    color: white;
    flex-shrink: 0;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    background: #1976d2;
    justify-content: center;
    transition: background 0.2s ease;
}

.testonomial{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 2px solid #e7e7e7;
    border-radius: 12px;
}

.delete-btn {
    border: none;
    cursor: pointer;
    background: none;
    color: #f44336;
    font-size: 18px;
    text-decoration: none;
}
