.card {
    background: #fff;
}

.card.company-list {
    background: #ffffff;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: flex-start;
    align-content: center;
}

.company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px 0 16px 0;
    background-color: #f9fafb;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    max-height: 400px;
    overflow-y: auto;
}

.company {
    display: flex;
    padding: 20px;
    flex: 1 1 45%;
    cursor: pointer;
    font-weight: 600;
    color: #34495e;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #d1d1d1;
    justify-content: space-between;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.company:hover {
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
    transform: translateY(-4px);
}

.delete-btn {
    border: none;
    cursor: pointer;
    background: none;
    color: #f44336;
    font-size: 18px;
    text-decoration: none;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .main-content {
        margin-left: 0;
        padding: 10px;
    }

    .input-group {
        width: 100%;
    }

    .suggestions {
        width: 100%;
    }
}
