.hamburger {
    border: none;
    z-index: 1001;
    display: none;
    z-index: 99999;
    cursor: pointer;
    background: none;
    position: relative;
    height: max-content;
}

i.iconoir-menu,
i.iconoir-xmark {
    font-size: 30px;
    color: rgb(0, 0, 0);
    display: inline-block;
}

i.iconoir-xmark.hide,
i.iconoir-menu.hide{
    display: none;
}

.iconoir-menu,
.iconoir-menu::before,
.iconoir-menu::after {
    transition: var(--transition);
}


.hamburger[aria-expanded="true"] .iconoir-menu {
    background-color: transparent;
}


@media (max-width: 900px) {
    .hamburger {
        display: block;
        margin-right: 20px;
    }
}
