{% extends 'users/root.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/reset_password/find_account.css' %}">

    <div class="content">
        <div class="card">
            <h2>Find Your Account</h2>

            <form method="post" onsubmit="return validateFindAccountForm();">
                {% csrf_token %}
                <div class="email-field">
                    <input type="text" placeholder="Enter email" name="email">
                    <small class="error-message"></small>
                </div>

                <div class="buttons">
                    <a id="cancel-button" href="{% url 'login' %}">Cancel</a>
                    <button id="search-button" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/reset_password/find_account.js' %}"></script>
{% endblock %}
