.error-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffebee;
    border: 1px solid #ef9a9a;
    padding: 15px;
    margin-bottom: 20px;
}

.error-list {
    margin: 0;
    list-style: none;
}

.error-item {
    color: #c62828;
    margin: 5px 0;
}

.error-item::before {
    content: "⚠️" !important;
    font-size: 1rem;
}

.close {
    cursor: pointer;
    font-weight: bolder;
}
