.container{
    height: auto;
}

.main-content{
    display: flex;
    justify-content: center;
}

.login-container {
    display: flex;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.left-panel {
    flex: 1;
    background-color: #a7f3d0;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1e293b;
}

.left-panel h1 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.rocket {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
}

.dots {
    display: flex;
    gap: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.dot.inactive {
    background-color: #9ca3af;
}

.right-panel {
    flex: 1;
    background-color: #1e293b;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel a {
    color: #14b8a6;
    text-decoration: none;
}

.right-panel a:hover {
    text-decoration: underline;
}

.right-panel h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    color: #9ca3af;
    margin-bottom: 4px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #374151;
}

.error-message {
    display: none;
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 4px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 24px;
    background-color: #14b8a6;
    color: #1e293b;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #10b39b;
}

.backend-error{
    display: block;
}
