.container{
    height: auto;
}

.main-content{
    display: flex;
    justify-content: center;
    width: 100%;
    background: url('../images/login_background.jpg') no-repeat center;
    background-size: cover;
}

.login-container {
    display: flex;
    width: 50%;
    padding: 40px;
    border-radius: 10px;
    flex-direction: column;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.login-container a {
    color: #00ff68;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.login-container h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    color: #ffffff;
    margin-bottom: 4px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #ffffff;
}

.error-message {
    display: none;
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 4px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 18px;
    background-color: #14b8a6;
    color: #1e293b;
    font-weight: bold;
    border: none;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #10b39b;
}

.backend-error{
    display: block;
}
