h1 {
    text-align: center;
    color: #333;
}

.summary {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.summary div {
    text-align: center;
}

.summary h3 {
    margin: 0;
    color: #555;
}

.summary p {
    margin: 5px 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

.profit {
    color: #28a745;
}

.loss {
    color: #dc3545;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:hover {
    background-color: #f1f1f1;
}

tr td:first-child {
    text-align: left;
}

tr td:nth-child(2){
    text-align: center;
}

@media (max-width: 768px) {
    .summary {
        flex-direction: column;
        gap: 15px;
    }

    table {
        font-size: 0.9em;
    }
}
