.container{
    height: auto;
}

.main-content{
    display: flex;
    justify-content: center;
    width: 100%;
    background: url('../images/signup-background.jpg') no-repeat center;
    background-size: cover;
}

.signup-container {
    display: flex;
    width: 50%;
    padding: 40px;
    border-radius: 10px;
    flex-direction: column;
    backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.signup-container a {
    color: #a34123;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}

.signup-container h2 {
    color: #fff;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 24px;
}

.form-group {
    margin-bottom: 16px;
}

.form-group label {
    display: block;
    color: #ffffff;
    margin-bottom: 4px;
    font-weight: bolder;
}

.form-group input {
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: #ffffff;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 1rem;
}

/* Gender dropdown specific styling */
.form-group label[for="gender"] {
    display: block;
    font-size: 14px;
    color: 9ca3af;;
    margin-bottom: 8px;
    text-transform: uppercase;
}

/* Gender select styling */
.form-group select#gender {
    width: 100%;
    padding: 10px 30px 10px 10px; /* Extra padding-right for arrow */
    font-size: 16px;
    color: black;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    appearance: none; /* Remove default browser styling */
    background-size: 16px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.form-group select#gender option {
    color: black; /* Text color for dropdown menu options */
    background-color: #fff; /* Background for dropdown menu */
}

/* Focus and hover states */
.form-group select#gender:focus {
    border-color: #0066cc;
    box-shadow: 0 0 5px rgba(0, 102, 204, 0.2);
}

.form-group select#gender:hover {
    border-color: #999;
}

/* Disabled or placeholder option */
.form-group select#gender option[disabled][selected] {
    color: #999;
}

/* Error message styling */
.form-group #gender-error {
    display: none;
    color: #d32f2f;
    font-size: 12px;
    margin-top: 5px;
}

.error-message {
    display: none;
    color: #ef4444;
    font-size: 0.75rem;
    margin-top: 4px;
}

.form-group input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

button {
    width: 100%;
    padding: 18px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: #1e293b;
    font-weight: bold;
    border-radius: 4px;
    background-color: #14b8a6;
}

button:hover {
    background-color: #10b39b;
}

.backend-error{
    display: block;
}
