{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/cards.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/companies.css' %}">
{% endblock %}

{% block content %}
    {% if companies %}
        <div class="header">
            <div class="search_bar">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search" placeholder="Search by company name, abbreviation or investment type">
                    <button class="add_button btn-add" data-name="" data-sector="" data-company_id="" data-company_abbreviation="" data-submit_href="company/add">Add User</button>
                </div>
            </div>
        </div>

        <div class="cards">
            {% for company in companies %}
                <div class="card">
                    <div class="details">
                        <span class="company">{{company.name}}</span>
                        <span class="sector">{{company.sector}}</span>
                    </div>

                    <div class="actions">
                        <button type="button" class="btn btn-edit"
                                data-name="{{ company.name }}"
                                data-sector="{{ company.sector }}"
                                data-company_id="{{company.id}}"
                                data-company_abbreviation="{{company.abbreviation}}"
                                data-submit_href="company/edit">
                            <i class='bx bx-edit'></i>
                        </button>

                        <button type="button" class="btn btn-delete"
                            data-company_id="{{ company.id }}"><i class="bx bx-trash"></i>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p class="error-message">No portfolios</p>

    {% if companies.paginator.num_pages > 1 %}
        <div class="pagination">
            <a
                href="{% if companies.has_previous %}?page={{ companies.previous_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not companies.has_previous %}disabled{% endif %}">
                « Previous Page
            </a>

            <span>Page {{ companies.number }} of {{ companies.paginator.num_pages }}</span>

            <a
                href="{% if companies.has_next %}?page={{ companies.next_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not companies.has_next %}disabled{% endif %}">
                Next Page »
            </a>
        </div>
    {% endif %}

    <div id="modal" class="modal is-hidden" aria-hidden="true">
        <div class="modal__overlay" id="overlay"></div>

        <div class="modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
            <header class="modal__header">
                <h2 id="modalTitle">Company Details</h2>
                <button class="modal__close" id="closeBtn" aria-label="Close">×</button>
            </header>

            <form class="modal__content" method="POST" action="#">
                {% csrf_token %}

                <p class="modal-response-message" style="display: none;"></p>
                <p class="modal-error-message error-message" style="display: none;">Please complete all required fields before submitting</p>

                <div class="field" style="display: none;">
                    <label for="company_id">ID <span class="required"> *</span></label>
                    <input type="text" name="company_id" id="company_id" readonly>
                </div>

                <div class="field">
                    <label for="company">Company <span class="required"> *</span></label>
                    <input type="text" name="company_name" id="company">
                </div>

                <div class="field">
                    <label for="abbreviation">Abbreviation <span class="required"> *</span></label>
                    <input id="abbreviation" name="company_abbreviation" type="text"/>
                </div>

                <div class="field">
                    <label for="sector">Sector <span class="required"> *</span></label>
                    <input id="sector" name="company_sector" type="text"/>
                </div>

                <div class="actions">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
   <script>
        search_lists = ['company', 'sector'];
    </script>

    <script src="{% static 'js/admin/companies.js' %}"></script>
    <script src="{% static 'js/admin/modal.js' %}"></script>
    <script src="{% static 'js/admin/search.js' %}"></script>
{% endblock %}
