{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/users.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/companies.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/portfolios.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <div class="search_bar">
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" class="search" placeholder="Search by name or email">
            </div>
        </div>
    </div>

    <div class="cards">
        {% for portfolioLot in portfolioLots %}
            <div class="card">
                <div class="card_row">
                    <span class="company_name">{{portfolioLot.company_name}}</span>
                </div>

                <div class="card_row">
                    <span class="email">User:</span>
                    <span class="value">{{portfolioLot.user_email}}</span>
                </div>

                <div class="card_row">
                    <span class="number_of_shares">Number of Shares:</span>
                    <span class="value">{{portfolioLot.number_of_shares}}</span>
                </div>

                <div class="card_row">
                    <span class="total_cost">Total Cost:</span>
                    <span class="value">{{portfolioLot.total_cost}}</span>
                </div>

                <div class="card_row">
                    <span class="total_cost">Purchase Date:</span>
                    <span class="value">{{portfolioLot.purchased_date}}/span>
                </div>
            </div>
        {% endfor %}
    </div>

    {% if portfolioLots.num_pages > 1 %}
        <div class="pagination">
            <a
                href="{% if portfolioLots.has_previous %}?page={{ portfolioLots.previous_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not portfolioLots.has_previous %}disabled{% endif %}">
                « Previous Page
            </a>

            <span>Page {{ portfolioLots.number }} of {{ portfolioLots.paginator.num_pages }}</span>

            <a
                href="{% if portfolioLots.has_next %}?page={{ portfolioLots.next_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not portfolioLots.has_next %}disabled{% endif %}">
                Next Page »
            </a>
        </div>
    {% endif %}
{% endblock %}
