{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/cards.css' %}">
{% endblock %}

{% block content %}
    <h1>Portfolios</h1>

    {% if portfolios %}
        <div class="header">
            <div class="search_bar">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search" placeholder="Search by company name">
                </div>
            </div>
        </div>

        <div class="cards">
            {% for portfolio in portfolios %}
                <div class="card">
                    <div class="card_row">
                        <span class="company_name">{{portfolio.company_name}}</span>
                    </div>

                    <div class="card_row">
                        <span class="number_of_shares">Number of Shares:</span>
                        <span class="value">{{portfolio.number_of_shares}}</span>
                    </div>

                    <div class="card_row">
                        <span class="total_cost">Total Cost:</span>
                        <span class="value">{{portfolio.total_cost}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% endif %}

    <p class="error-message" style="display: none;">No search results available</p>

    {% if portfolios.paginator.num_pages > 1 %}
        <div class="pagination">
            <a
                href="{% if portfolios.has_previous %}?page={{ portfolios.previous_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not portfolios.has_previous %}disabled{% endif %}">
                « Previous Page
            </a>

            <span>Page {{ portfolios.number }} of {{ portfolios.paginator.num_pages }}</span>

            <a
                href="{% if portfolios.has_next %}?page={{ portfolios.next_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not portfolios.has_next %}disabled{% endif %}">
                Next Page »
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        search_lists = ['company_name'];
    </script>

    <script src="{% static 'js/admin/search.js' %}" defer></script>
{% endblock %}
