{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/profile.css' %}">
{% endblock %}

{% block content %}
    <meta name="csrf-token" content="{{ csrf_token }}">
    <div class="content">

        <div class="profile-section">
            <div class="profile-image-container">
                <img id="image-preview" class="profile-image" src="{{user_profile.profile_image.url}}" alt="Profile Image" onclick="document.getElementById('profile_image').click()">
            </div>

            <p>Profile picture PNG, JPEG under 15MB</p>

            <input type="file" id="profile_image" accept="image/png, image/jpeg" onchange="previewImage()">
        </div>

        <div class="user_contents">
            <a href="{% url 'admin-portfolios' %}?user={{user_profile.email}}">Portfolios</a>
            <a href="{% url 'admin-transactions' %}?user={{user_profile.email}}">Transactions</a>
            <a href="{% url 'admin-targets' %}?user={{user_profile.email}}">Targets</a>
            <a href="{% url 'admin-wishlists' %}?user={{user_profile.email}}">Wishlists</a>
        </div>

        <div class="form-group-container">
            <div class="form-group">
                <label>Full name</label>

                <div class="name-group">
                    <div class="form-group">
                        <p class="no_form_type">{{user_profile.name}}</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label>Contact email</label>
                <p class="no_form_type user_email">{{user_profile.email}}</p>
            </div>

            <div class="form-group change-password">
                <label style="font-size: 1.25em;">Change Password</label>

                <div class="password-group">
                    <div class="form-group">
                        <input type="password" id="new-password" placeholder="••••••••">
                        <div id="password-error" class="error-message">This field cannot be empty</div>
                        <div id="success-message">Password changed successfully</div>
                    </div>
                </div>
            </div>

            <button class="save-button">Save Changes</button>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        const user_email = "{{user_profile.email}}";
    </script>
    <script src="{% static 'js/admin/profile.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}
