{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Admin | {{page_title}}</title>

    <link rel="stylesheet" href="{% static 'css/admin/root.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/admin.png' %}">
    <link rel="stylesheet" href="{% static 'css/errors/error-message.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin/datatables.css' %}">

    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    {% block css %}
    {% endblock %}
</head>

<body>
    <div class="container">
        {% include 'admin/sidebar.html' %}

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <script>
        const page_title = "{{page_title}}";

        $(document).ready(function() {
            if(page_title != 'Market Data'){
                $('#data_table').DataTable();
            }

            else{
                $('#data_table').DataTable({
                    processing: true,
                    serverSide: true,
                    deferRender: true,
                    pageLength: 25,
                    lengthMenu: [25, 50, 100, 250],
                    ajax: {
                    url: '{% url "stockmarketdata_dt" %}',
                    type: 'GET'
                    },
                    columns: [
                    { data: 'sn', className: 'dt-center' },
                    {
                        data: 'company_abbreviation',
                        render: function (data, type, row) {
                            return '<span title="' + row.company_name + '">' + data + '</span>';
                        }
                    },
                    { data: 'sector' },
                    { data: 'ltp', className: 'dt-right' },
                    { data: 'pct_change', className: 'dt-right' },
                    { data: 'open_price', className: 'dt-right' },
                    { data: 'low', className: 'dt-right' },
                    { data: 'high', className: 'dt-right' },
                    { data: 'qty', className: 'dt-right' },
                    { data: 'turnover', className: 'dt-right' },
                    { data: 'trade_date', className: 'dt-center' }
                    ]
                });
            }
        });
    </script>

	{% block js %}
	{% endblock %}
</body>

</html>
