{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/sidebar.css' %}">
{% endblock %}

<div class="sidebar">
    <div class="brand">
        <i class='bx bx-lock-alt'></i>
        <span>Stock Vault</span>
    </div>

    <div class="nav-links">
        <a class="active" href="{% url 'admin-index' %}"><i class="bx bx-user"></i><span>Users</span></a>
        <a class="" href="#"><i class="bx bx-buildings"></i><span>Listed Companies</span></a>
        <a class="" href="#"><i class="bx bx-briefcase-alt-2"></i><span>Portfolios</span></a>
        <a class="" href="#"><i class="bx bx-layer"></i><span>Portfolio Lots</span></a>
        <a class="" href="#"><i class="bx bx-transfer"></i><span>Transactions</span></a>
        <a class="" href="#"><i class="iconoir-target"></i><span>Targets</span></a>
        <a class="" href="#"><i class="bx bx-star"></i><span>Wish Lists</span></a>
        <a class="" href="#"><i class="bx bx-help-circle"></i><span>FAQs</span></a>
        <a class="" href="#"><i class="bx bx-line-chart"></i><span>Market Data (read-only)</span></a>
    </div>
</div>

{% block js %}
    <script src="{% static 'js/admin/sidebar.js' %}" defer></script>
{% endblock %}
