{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/cards.css' %}">
{% endblock %}

{% block content %}
    <h1>Targets</h1>

    {% if targets %}
        <div class="header">
            <div class="search_bar">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search" placeholder="Search by name or email">
                </div>
            </div>
        </div>

        <div class="cards">
            {% for target in targets %}
                <div class="card">
                    <div class="card_row">
                        <span class="company_name">{{target.company_name}}</span>
                    </div>

                    <div class="card_row">
                        <span>Low Target:</span>
                        <span class="low_target">{{target.low_target}}</span>
                    </div>

                    <div class="card_row">
                        <span>High Target:</span>
                        <span class="high_target">{{target.high_target}}</span>
                    </div>

                    <div class="card_row">
                        <span>Target Type:</span>
                        <span class="target_type">{{target.target_type | title}}</span>
                    </div>

                    <div class="card_row">
                        <span >Created Date::</span>
                        <span class="created_date">{{target.created_date}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p class="error-message" style="display: none;">No search results available</p>

    {% if targets.paginator.num_pages > 1 %}
        <div class="pagination">
            <a
                href="{% if targets.has_previous %}?page={{ targets.previous_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not targets.has_previous %}disabled{% endif %}">
                « Previous Page
            </a>

            <span>Page {{ targets.number }} of {{ targets.paginator.num_pages }}</span>

            <a
                href="{% if targets.has_next %}?page={{ targets.next_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not targets.has_next %}disabled{% endif %}">
                Next Page »
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        search_lists = ['company_name', 'target_type', 'created_date'];
    </script>

    <script src="{% static 'js/admin/search.js' %}" defer></script>
{% endblock %}
