{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/cards.css' %}">
{% endblock %}

{% block content %}
    <h1>Transactions</h1>

    {% if transactions %}
        <div class="header">
            <div class="search_bar">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search" placeholder="Search by name or email">
                </div>
            </div>
        </div>

        <div class="cards">
            {% for transaction in transactions %}
                <div class="card">
                    <div class="card_row">
                        <span class="company_name">{{transaction.company_name}}</span>
                    </div>

                    <div class="card_row">
                        <span>User:</span>
                        <span class="email">{{transaction.user_email}}</span>
                    </div>

                    <div class="card_row">
                        <span>Number of Shares:</span>
                        <span class="number_of_shares">{{transaction.number_of_shares}}</span>
                    </div>

                    <div class="card_row">
                        <span>Transacted Price:</span>
                        <span class="transacted_price">{{transaction.transacted_price}}</span>
                    </div>

                    <div class="card_row">
                        <span>Transaction Type:</span>
                        <span class="transaction_type">{{transaction.transaction_type|title}}</span>
                    </div>

                    <div class="card_row">
                        <span>Transaction Date:</span>
                        <span class="transacted_date">{{transaction.transacted_date}}</span>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <p class="error-message" style="display: none;">No search results available</p>

    {% if transactions.paginator.num_pages > 1 %}
        <div class="pagination">
            <a
                href="{% if transactions.has_previous %}?page={{ transactions.previous_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not transactions.has_previous %}disabled{% endif %}">
                « Previous Page
            </a>

            <span>Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}</span>

            <a
                href="{% if transactions.has_next %}?page={{ transactions.next_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not transactions.has_next %}disabled{% endif %}">
                Next Page »
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        search_lists = ['email', 'company_name', 'transaction_type', 'transacted_date'];
    </script>

    <script src="{% static 'js/admin/search.js' %}" defer></script>
{% endblock %}
