{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navs/hamburger.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/users.css' %}">
{% endblock %}

{% block content %}
    <div class="header">
        <div class="header_label">
            <p class="title">Total Users: {{user_details|length}}</p>
        </div>

        <div class="searching__filtering">
            <div class="search_bar">
                <button class="hamburger" aria-label="Menu" aria-expanded="false">
                    <i class="iconoir-menu"></i>
                    <i class="iconoir-xmark hide"></i>
                </button>

                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search" placeholder="Search by name or email">
                </div>
            </div>

            <div class="filter">
                <div class="gender_filter">
                    <select name="gender_filter" id="gender_filter">
                        <option value="All genders">All genders</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>

                <div class="sort">
                    <select name="" id="sort_by">
                        <option value="default" selected disabled>Sort By</option>
                        <option value="a-z">Name (A-Z)</option>
                        <option value="z-a">Name (Z-A)</option>
                        <option value="dob_newest">DOB (newest)</option>
                        <option value="dob_oldest">DOB (oldest)</option>
                        <option value="joined_newest">Joined (newest)</option>
                        <option value="joined_oldest">Joined (oldest)</option>
                    </select>
                </div>

                <p class="add_button">Add User</p>
            </div>
        </div>
    </div>

    <div class="cards">
        {% for user_detail in user_details %}
            <div class="card">
                <div class="avatar">
                    {% if user_detail.profile_image and user_detail.profile_image.name %}
                        <img src="{{ user_detail.profile_image.url }}">
                    {% else %}
                        <img src="{% static 'images/default-avatar.png' %}" alt="No photo">
                    {% endif %}
                </div>

                <div class="card_details">
                    <span class="user_name">{{user_detail.name}}</span>

                    <div class="card_row">
                        <span class="email">Email:</span>
                        <span class="value">{{user_detail.email}}</span>
                    </div>

                    <div class="card_row">
                        <span class="gender">Gender:</span>
                        <span class="value">{{user_detail.gender|title}}</span>
                    </div>

                    <div class="card_row">
                        <span class="dob">DOB:</span>
                        <span class="value">{{user_detail.date_of_birth|date:"Y-m-d"}}</span>
                    </div>

                    <div class="card_row">
                        <span class="joined">Joined:</span>
                        <span class="value">{{user_detail.date_joined|date:"Y-m-d h:i:s A"}}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <a
            href="{% if user_details.has_previous %}?page={{ user_details.previous_page_number }}{% else %}#{% endif %}"
            class="page_btn {% if not user_details.has_previous %}disabled{% endif %}">
            « Previous Page
        </a>

        <span>Page {{ user_details.number }} of {{ user_details.paginator.num_pages }}</span>

        <a
            href="{% if user_details.has_next %}?page={{ user_details.next_page_number }}{% else %}#{% endif %}"
            class="page_btn {% if not user_details.has_next %}disabled{% endif %}">
            Next Page »
        </a>
    </div>

    <div id="modal" class="modal is-hidden" aria-hidden="true">
        <div class="modal__overlay" id="overlay"></div>

        <div class="modal__dialog" role="dialog" aria-modal="true" aria-labelledby="modalTitle">
            <header class="modal__header">
                <h2 id="modalTitle">User Details</h2>
                <button class="modal__close" id="closeBtn" aria-label="Close">×</button>
            </header>

            <form class="modal__content" method="POST" action="#">
                {% csrf_token %}

                <p class="error-message"></p>

                <div class="field email-field" style="display: none;">
                    <label for="email">Email <span class="required"> *</span></label>
                    <input type="email" name="email" id="email">
                </div>

                <div class="field">
                    <label for="name">Name <span class="required"> *</span></label>
                    <input id="name" name="name" type="text"/>
                </div>

                <div class="field">
                    <label for="gender">Gender <span class="required"> *</span></label>
                    <select id="gender" name="gender">
                        <option value="" selected disabled>Select gender</option>
                        <option>Female</option>
                        <option>Male</option>
                        <option>Other</option>
                        <option>Prefer not to say</option>
                    </select>
                </div>

                <div class="field">
                    <label for="dob">Date of Birth <span class="required"> *</span></label>
                    <input id="dob" name="dob" type="date"/>
                </div>

                <div class="field">
                    <label for="password">Password <span class="required password"> *</span></label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="actions">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        user_json = JSON.parse('{{ user_json|escapejs }}');
    </script>

    <script src="{% static 'js/navs/hamburger.js' %}"></script>
    <script src="{% static 'js/admin/modal.js' %}"></script>
    <script src="{% static 'js/admin/users.js' %}"></script>
{% endblock %}
