{% extends 'admin/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/admin/modal.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin/cards.css' %}">
{% endblock %}

{% block content %}
    <h1>Wishlists</h1>

    {% if wishlists %}
        <div class="header">
            <div class="search_bar">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input type="text" class="search" placeholder="Search by name or email">
                </div>
            </div>
        </div>

        <div class="cards">
            {% for wishlist in wishlists %}
                <div class="card">
                    <span class="company_name">{{wishlist.company_name}}</span>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <p class="error-message" style="display: none;">No search results available</p>

    {% if wishlists.paginator.num_pages > 1 %}
        <div class="pagination">
            <a
                href="{% if wishlists.has_previous %}?page={{ wishlists.previous_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not wishlists.has_previous %}disabled{% endif %}">
                « Previous Page
            </a>

            <span>Page {{ wishlists.number }} of {{ wishlists.paginator.num_pages }}</span>

            <a
                href="{% if wishlists.has_next %}?page={{ wishlists.next_page_number }}{% else %}#{% endif %}"
                class="page_btn {% if not wishlists.has_next %}disabled{% endif %}">
                Next Page »
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script>
        search_lists = ['company_name'];
    </script>

    <script src="{% static 'js/admin/search.js' %}" defer></script>
{% endblock %}
