{% load static %}

{% if not request.user.is_authenticated %}
    <link rel="stylesheet" href="{% static 'css/navs/footer.css' %}" />

    <script>
        window.addEventListener("load", function() {
            const year = new Date().getFullYear();
            document.getElementById("footer-text").innerHTML = `&copy; ${year} Stock Vault`;
        });
    </script>

    <footer>
        <div class="footer-content">
            <div class="footer-section footer-brand">
                <h4>Stock Vault</h4>
                <p>Track stocks, seize profits, vibe smart.</p>
            </div>
            <div class="footer-section footer-links">
                <h4>Explore</h4>

                <div class="links">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'index' %}#features">Features</a>
                    <a href="{% url 'index' %}#faq">FAQ</a>
                    <a href="/login">Login</a>
                </div>
            </div>
            <div class="footer-section footer-newsletter">
                <h4>Stay Updated</h4>

                <div class="social-icons">
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.github.com/ghanteyyy/" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p id="footer-text"></p>
        </div>
    </footer>
{% endif %}
