{% extends 'root.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">

    <script id="portfolio_datasets" type="application/json">
        {{ portfolio_datasets|safe }}
    </script>

    <div class="content">
        <div class="nepse_indices">
            <canvas class="line-graph" id="nepse_indices_graph"></canvas>
        </div>

        <div class="card">
            <h2>📊 Stocks Overview</h2>
            <div class="dashboard-stats">
                <div class="stat-card">
                    <h3>Portfolio Value</h3>
                    <p>{{ portfolio_value|default:"Rs. 0.00" }}</p>
                </div>

                <div class="stat-card">
                    <h3>Total Stocks</h3>
                    <p>{{ total_stocks|default:"0" }}</p>
                </div>

                <div class="stat-card">
                    <h3>Overall Gain/Loss</h3>
                    <p class="{% if overall_gain_loss >= 0 %}positive{% else %}negative{% endif %}">
                        {{ overall_gain_loss|default:"0.00" }}%
                    </p>
                </div>

            </div>
        </div>

        <div class="card">
            <h2>📈 Portfolio Performance</h2>

            {% if not portfolio_datasets %}
                <p class="error-message" style="display: block;">The dataset is currently empty or incomplete.</p>
            {% else %}
                <div class="portfolio-list">
                    {% for data in portfolio_datasets %}
                        <div class="portfolio-item">
                            <div class="portfolio-header">
                                <span class="company-name">{{ data.company_name }}</span>
                            </div>

                            {% if data.error %}
                                <p class="error-message" style="display: block; background-color: white; border: none; padding: 10px; font-weight: 900;">{{data.error}}</p>

                            {% else %}
                                <div class="portfolio-details">
                                    <p><strong>Opening Price:</strong> {{ data.today_opening_price }}</p>
                                    <p><strong>Closing Price:</strong> {{ data.today_closing_price }}</p>
                                    <p><strong>Change (%):</strong>
                                        <span class="{% if data.percentage_change|slice:':1' == '-' %}negative{% else %}positive{% endif %}">
                                            {{ data.percentage_change }}
                                        </span>
                                    </p>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>


        <div class="card">
            <h2>🔔 Recent Activity</h2>
            <ul>
                {% for activity in recent_activities %}
                    <li><p><span class='{% if activity.transaction_type == "buy" %}positive{% else %}negative{% endif %}'>{% if activity.transaction_type == "buy" %}Bought{% else %}Sold{% endif %}</span> {{activity.number_of_shares}} shares of <span class="activity_company">{{activity.company_name}}</span> at Rs. {{activity.transacted_price}} on {{activity.transaction_date}}</p></li>
                {% empty %}
                    <p class="error-message"  style="display: block;">No recent activity</p>
                {% endfor %}
            </ul>
        </div>
    </div>

    {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="{% static 'js/dashboard.js' %}"></script>
        <script src="{% static 'js/chart.js' %}"></script>

        <script>
            const nepse_indices_data = {{nepse_indices|safe}}
            const dates = nepse_indices_data.map(row => row[0]);
            const indices = nepse_indices_data.map(row => parseFloat(row[1].replace(/,/g, "")));

            renderLineChart('nepse_indices_graph', "NEPSE INDICES", dates, indices);
        </script>
    {% endblock %}

{% endblock %}
