{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
{% endblock %}

{% block content %}
    <div class="login-container">
        <div style="text-align: right; margin-bottom: 16px;">
            <a href="{% url 'signup' %}">Sign Up</a>
        </div>

        <form action="{% url 'login' %}" method="POST" onsubmit="validateForm(event)">
            {% csrf_token %}

            <div class="form-group">
                <div class="form-item">
                    <label for="email">E MAIL</label>
                    <i class="bx bx-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Enter your email here">
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div id="email-error" class="error-message" style="display: block;">{{message}}</div>
                    {% endfor %}

                {% else %}
                    <div id="email-error" class="error-message">Please enter a valid email (e.g., user@example.com).</div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="form-item">
                    <label for="password">PASSWORD</label>
                    <i class="bx bx-lock"></i>
                    <input type="password" id="password" name="password" placeholder="••••••••">
                </div>

                <div id="password-error" class="error-message"></div>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
            <button type="submit">SIGN IN</button>
        </form>

        <div style="text-align: right; margin-top: 16px;">
            <a href="{% url 'reset_password' %}">Forgot password?</a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
