{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}" />

<header class="hero">
    <nav>
        <div class="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/icon.png' %}" alt="" id="logo-image">
                <p id="logo-name">Stock Vault</p>
            </a>
        </div>
        <div class="nav-links">
            <a href="#features">Features</a>
            <a href="#faq">FAQ</a>
            <a href="/login">Login</a>
            <a href="/register" class="btn">Register</a>
        </div>
    </nav>
    <div class="hero-content">
        <h1>Track. Predict. Profit.</h1>
        <p>Your smart companion for monitoring stock portfolios, analyzing trends, and making better investments.
        </p>
        <a href="/register" class="cta-button">Get Started</a>
    </div>
</header>
