{% extends 'root.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link rel="stylesheet" href="{% static 'css/new_password.css' %}">

    <div class="content">
        {% if validlink %}
            <form action="" method="POST" onsubmit="return validatePassword();">
                {% csrf_token %}

                <div class="password-div">
                    <i class='bx bxs-lock-alt' ></i>
                    <input type="password" placeholder="New Password" name="new_password1">
                </div>

                <div class="password-div">
                    <i class='bx bxs-lock-alt' ></i>
                    <input type="password" placeholder="New Password Again" name="new_password2">
                </div>

                <p class="error-message" style="display: none;"></p>

                <div class="submit-button">
                    <button type="submit">Change Password</button>
                </div>

            </form>

        {% else %}
            <h2>Link expired or already used</h2>

            <p>This password reset link is invalid or has expired. Please request a new one.</p>

            <a class="reset_new_password" href="{% url 'reset_password' %}">Request new reset link</a>
        {% endif %}
    </div>

    <script src="{% static 'js/new_password.js' %}" defer></script>
{% endblock %}
