{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="content">
            <div class="card">
                <form onsubmit="return validateStockSearchingForm()" action="" method="POST">
                    {% csrf_token %}
                    {% include 'stock_searching.html' %}
                </form>

                {% include 'backend_error.html' %}
            </div>

            <div class="card company-list">
                {% for share_holding in share_holdings %}
                    <a class="inner_card" href="{% url 'timeline' %}?company_name={{ share_holding.company_name|urlencode }}">
                        <p class="company_name">{{ share_holding.company_name }} ({{ share_holding.abbreviation }})</p>

                        <div class="inner_card_content">
                            <p>Share Quantity</p>
                            <p>{{ share_holding.number_of_shares }}</p>
                        </div>
                    </a>
                {% empty %}
                    <p class="error-message">The dataset is currently empty or incomplete</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block js%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{% static 'js/portfolio.js' %}"></script>
    <script src="{% static 'js/stock_searching.js' %}" defer></script>
{% endblock %}
