{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/portfolio_graph.css' %}">
{% endblock %}

{% block content %}
    <div class="graph_options_container">
        <select name="graph_options" id="graph_options">
            <option selected disabled hidden>Graph Data Type</option>

            {% for graph_option in graph_options %}
                <option value="{{graph_option}}">{{graph_option}}</option>
            {% endfor %}
        </select>
    </div>

    <canvas id="graph1"></canvas>
{% endblock %}

{% block js %}
    <script id="graphs">
        const labels = {{graph_labels|safe}};
        const data = {{graph_data|safe}};
    </script>

    <script src="{% static 'js/chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        params = new URLSearchParams(window.location.search);
        column_type = params.get("column_type") || "LTP";

        renderLineChart('graph1', column_type, labels, data);

        document.getElementById('graph_options').addEventListener('change', function() {
            const params = new URLSearchParams(window.location.search);
            params.set('column_type', this.value);

            const url = window.location.origin + window.location.pathname + '?' + params.toString();
            window.location.href = url;
        });
    </script>
{% endblock %}
