{% extends 'root.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
<link rel="stylesheet" href="{% static 'css/error-message.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script defer src="{% static 'js/portfolio.js' %}"></script>


<div class="container">
    {% include 'sidebar.html' %}

    <div class="main-content">
        <div class="content">
            <div class="card">
                {% include 'stock_searching.html' %}
                {% include 'backend_error.html' %}
            </div>

            <div class="card company-list">
                {% for share_holding in share_holdings %}
                    <a class="inner_card" href="{% url 'timeline' company_name=share_holding.company_name %}">
                        <p class="company_name">{{ share_holding.company_name }} ({{ share_holding.abbreviation }})</p>

                        <div class="inner_card_content">
                            <p>Share Quantity</p>
                            <p>{{ share_holding.quantity }}</p>
                        </div>

                        <div class="inner_card_content">
                            <p>Bonus Share Quantity</p>
                            <p>{{ share_holding.bonus_quantity|default:0 }}</p>
                        </div>
                    </a>
                {% empty %}
                    <p class="error-message">The dataset is currently empty or incomplete</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
