{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card">
            <form onsubmit="return validateStockSearchingForm()" action="" method="POST">
                {% csrf_token %}
                {% include 'stock_searching.html' %}
            </form>

            {% include 'backend_error.html' %}
        </div>

        <div class="card company-list">
            {% for share_holding in share_holdings %}
                <a class="company-item" href="{% url 'portfolio-graph' %}?company_name={{share_holding.company_name|urlencode}}">
                    <p class="company-title">{{ share_holding.company_name }}</p>

                    <div class="company-details">
                        <p>Share Quantity</p>
                        <p class="quantity">{{ share_holding.number_of_shares }}</p>
                    </div>
                </a>
            {% empty %}
                <p class="error-message" style="display: block;">The dataset is currently empty or incomplete</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{% static 'js/portfolio.js' %}"></script>
    <script src="{% static 'js/stock_searching.js' %}" defer></script>
{% endblock %}
