{% load static %}

{%% block css %}
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">
{% endblock %}

<button class="hamburger" id="hamburger-btn">☰</button>

<div class="sidebar">
    <a class="logo" href="{% url 'dashboard' %}">
        <img src="{% static 'images/icon.png' %}" alt="Stock Vault Logo" id="logo-image">
        <p id="logo-name">Stock Vault</p>
    </a>
    <div>
        <ul>
            <li class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"><a class="sidebar-links" href="{% url 'dashboard' %}">📊 Dashboard</a></li>
            <li class="{% if request.resolver_match.url_name == 'portfolio' or request.resolver_match.url_name == 'timeline' %}active{% endif %}"><a class='sidebar-links' href="{% url 'portfolio' %}">💹 Portfolio</a></li>
            <li class="{% if request.resolver_match.url_name == 'profit-loss' %}active{% endif %}"><a class='sidebar-links' href="{% url 'profit-loss' %}">📉 Profit / Loss</a></li>
            <li class="{% if request.resolver_match.url_name == 'buy-sell' %}active{% endif %}"><a class='sidebar-links' href="{% url 'buy-sell' %}">💸 Buy / Sell</a></li>
            <li class="{% if request.resolver_match.url_name == 'wishlist' %}active{% endif %}"><a class='sidebar-links' href="{% url 'wishlist' %}">⭐ Wishlist</a></li>
            <li class="{% if request.resolver_match.url_name == 'settings' %}active{% endif %}"><a class='sidebar-links' href="{% url 'settings' %}">⚙️ Settings</a></li>
            <li><a class='sidebar-links' href="{% url 'logout' %}">🚪 Logout</a></li>
        </ul>
    </div>
</div>

{% block js %}
    <script src="{% static 'js/sidebar.js' %}"></script>
{% endblock %}
