{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
    <div class="signup-container">
        {% include 'backend_error.html' %}

        <div style="text-align: right; margin-bottom: 16px;">
            <a href="{% url 'login' %}">Sign In</a>
        </div>

        <form action="{% url 'signup' %}" method="POST" onsubmit="validateForm(event)" novalidate enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <div class="form-item">
                    <label for="fullName">FULL NAME</label>
                    <i class="bx bx-user"></i>
                    <input type="text" id="fullName" name="fullName" placeholder="Enter your full name">
                </div>

                <div id="name-error" class="error-message">Please enter your full name.</div>
            </div>

            <div class="form-group">
                <div class="form-item">
                    <label for="email">E MAIL</label>
                    <i class="bx bx-envelope"></i>
                    <input type="email" id="email" name="email" placeholder="Enter your email here">
                </div>

                {% if messages %}
                    {% for message in messages %}
                        <div id="email-error" class="error-message backend-error">{{message}}</div>
                    {% endfor %}
                {% else %}
                    <div id="email-error" class="error-message">Please enter a valid email (e.g., user@example.com).</div>
                {% endif %}
            </div>

            <div class="form-group">
                <div class="form-item">
                    <label for="password">PASSWORD</label>
                    <i class="bx bx-lock"></i>
                    <input type="password" id="password" name="password" placeholder="••••••••">
                </div>

                <div id="password-error" class="error-message">Password must be at least 8 characters with 1 capital, 1 symbol, and 1 number.</div>
            </div>

            <div class="form-group">
                <div class="form-item">
                    <label for="dob">DATE OF BIRTH</label>
                    <i class="bx bx-calendar"></i>
                    <input type="date" id="dob" name="dob" placeholder="YYYY/MM/DD">
                    <i class="fa-regular fa-calendar"></i>
                </div>

                <div id="dob-error" class="error-message">Please enter a valid date in YYYY/MM/DD format (e.g., 2025/05/25) and ensure you are not older than 110 years.</div>
            </div>

            <div class="form-group">
                <div class="form-item">
                    <label for="gender">GENDER</label>
                    <i class='bx bx-male-female'></i>

                    <select id="gender" name="gender">
                        <option value="" disabled selected>Select your gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                        <option value="prefer_not_to_say">Prefer not to say</option>
                    </select>
                </div>

                <div id="gender-error" class="error-message">Please select a gender.</div>
            </div>

            <div class="form-group">
                <div class="form-item">
                    <label for="profilePicture">PROFILE PICTURE</label>
                    <input type="file" id="profilePicture" name="profilePicture" accept="image/*">
                </div>

                <div id="profile-error" class="error-message">Please upload a profile image.</div>
            </div>
            <button type="submit">SIGN UP</button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
