{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/stock_searching.css' %}">
{% endblock %}

<div class="input-wrapper">
    <div class="input-group">
        <input type="text" id="stock-input" name="company" class="autocomplete-input" placeholder="Search stocks...">

        {% if request.resolver_match.url_name == 'portfolio' or request.resolver_match.url_name == 'buy-sell' %}
            <input type="text" placeholder="Number of stocks" class="share_quantity share_numbering" name="share_quantity">
            <input type="text" placeholder="Buying Rate" class="buying_rate share_numbering" name="buying_rate">
        {% endif %}

        {% if request.resolver_match.url_name == 'target' %}
            <input type="text" placeholder="Low target amount" class="low_target" name="low_target">
            <input type="text" placeholder="High target amount" class="high_target" name="high_target">

            <select name="target_type" id="target_type">
                <option value="" selected="selected" hidden="hidden">Target Type</option>
                <option value="buy">Buy</option>
                <option value="sell">Sell</option>
            </select>
        {% endif %}

        <button type="submit" id="add-btn" class="add-btn">Add</button>
        <div id="suggestions" class="suggestions"></div>
    </div>
    <p class="error-searching-stocks"></p>
</div>

{% block js %}
    <script id="companies" type="application/json">
        {{ companies|safe }}
    </script>
{% endblock %}
