{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/stock_searching.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock %}

<div class="input-wrapper">
    <div class="input-group">
        <!-- Stock Search -->
        <div class="input-field">
            <i class="fas fa-search"></i>
            <input type="text" id="stock-input" name="company" class="autocomplete-input" placeholder="Search stocks...">
        </div>

        {% if request.resolver_match.url_name == 'portfolio' or request.resolver_match.url_name == 'buy-sell' %}
            <div class="input-field">
                <i class="fas fa-layer-group"></i>
                <input type="text" placeholder="Number of stocks" class="share_quantity share_numbering" name="share_quantity">
            </div>
            <div class="input-field">
                <i class="fas fa-dollar-sign"></i>
                <input type="text" placeholder="Buying Rate" class="buying_rate share_numbering" name="buying_rate">
            </div>
        {% endif %}

        {% if request.resolver_match.url_name == 'target' %}
            <div class="input-field">
                <i class="fas fa-arrow-down"></i>
                <input type="text" placeholder="Low target amount" class="low_target" name="low_target">
            </div>
            <div class="input-field">
                <i class="fas fa-arrow-up"></i>
                <input type="text" placeholder="High target amount" class="high_target" name="high_target">
            </div>
            <div class="input-field">
                <i class="fas fa-bullseye"></i>
                <select name="target_type" id="target_type">
                    <option value="" selected hidden>Target Type</option>
                    <option value="buy">Buy</option>
                    <option value="sell">Sell</option>
                </select>
            </div>
        {% endif %}

        <!-- Add Button -->
        <button type="submit" id="add-btn" class="add-btn">
            <i class="fas fa-plus"></i> Add
        </button>

        <div id="suggestions" class="suggestions"></div>
    </div>
    <p class="error-searching-stocks"></p>
</div>

{% block js %}
    <script id="companies" type="application/json">
        {{ companies|safe }}
    </script>
{% endblock %}
