{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/target.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="content">
            <div class="card">
                <form onsubmit="return validateTargetForm()" action="" method="POST">
                    {% include 'stock_searching.html' %}
                    {% csrf_token %}
                </form>

                {% include 'backend_error.html' %}
            </div>
        </div>

        <div class="card">
            {% if targets %}
            <table>
                <thead>
                    <th>SN</th>
                    <th>Company</th>
                    <th>Low Target</th>
                    <th>High Target</th>
                    <th>Current Market Price</th>
                    <th>Action</th>
                </thead>

                <tbody>
                    {% for target in targets %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ target.company_name }} ({{ target.abbreviation }})</td>
                            <td>{{ target.low_target }}</td>
                            <td>{{ target.high_target }}</td>
                            <td>{{ target.market_price }}</td>
                            <td class="action_buttons">
                                {% if target.show_buy_sell %}
                                    <a href="#" class="target_type {{target.target_type}}">{{target.target_type|title}}</a>
                                {% endif %}

                                <i class='bx bx-edit-alt'
                                        data-company_name="{{target.company_name}}"
                                        data-abbreviation="{{target.abbreviation}}"
                                        data-low_target="{{target.low_target}}"
                                        data-high_target="{{target.high_target}}"
                                        data-target_type="{{target.target_type}}"
                                        onclick="displayEditTargetForm(this)"
                                    >
                                </i>
                                <a href="{% url 'delete-target' target.abbreviation %}">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="edit_target">
                <form action="{% url 'edit-target' %}" onsubmit="return validateEditTargetForm()" class="edit" method="POST">
                    {% csrf_token %}

                    <span class="close-btn" onclick="hideEditTargetForm()">&times;</span>

                    <h2>Edit Target</h2>
                    <p class="company_title"></p>
                    <p class="edit-error-message" style="display:none;"></p>

                    <input type="text" name="company_abbr" id="edit_company_abbr" hidden>
                    <input type="text" id="edit_low_target" placeholder="Low Target" name="edit_low_target">
                    <input type="text" id="edit_high_target" placeholder="High Target" name="edit_high_target">
                    <button type="submit" class="">Update</button>
                </form>
            </div>

            {% else %}
                <p class="error-message">No Targets Added Yet</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/stock_searching.js' %}" defer></script>
    <script src="{% static 'js/target.js' %}" defer></script>
{% endblock %}
