{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/timeline.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="timeline">
            {% for history in histories %}
                <div class="timeline-item {% if forloop.counter0|divisibleby:2 %}right{% else %}left{% endif %}">
                    <span>{{history.transaction_date}}</span>

                    <div class="timeline-content">
                        <p>{% if history.transaction_type == "buy" %}Bought{% else %}Sold{% endif %} {{history.number_of_shares}} shares of {{history.company_name}} at Rs. {{history.transacted_price}} on {{history.transaction_date}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/timeline.js' %}"></script>
{% endblock %}
