{% extends 'root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
    <link rel="stylesheet" href="{% static 'css/error-message.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card">
            <form onsubmit="return validateStockSearchingForm()" action="" method="POST">
                {% csrf_token %}
                {% include 'stock_searching.html' %}
            </form>

            {% include 'backend_error.html' %}
        </div>

        <h2>Your wishlists</h2>
        <div class="card company-list">
            {% for data in saved_companies %}
                <div class="company">
                    <p>{{ data.company_name }}</p>
                </div>
            {% empty %}
                <p class="error-message" style="display: block;">No wishlist</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/stock_searching.js' %}" defer></script>

    <script id="companies" type="application/json">
        {{ companies|safe }}
    </script>
{% endblock %}
