.error-container {
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
    align-items: center;
    background: #b91c1c;
    justify-content: space-between;
}

.error-list {
    margin: 0;
    list-style: none;
}

.error-item {
    margin: 5px 0;
    color: white;
}

.error-item::before {
    font-size: 1rem;
    content: "⚠️" !important;
}

.close {
    color: white;
    cursor: pointer;
    font-weight: bolder;
}
