.error-message{
    width: 100%;
    padding: 20px;
    display: none;
    font-size: 14px;
    color: white;
    font-weight: normal;
    background: #b91c1c;
}

#success-message,
.success-message {
    width: 100%;
    padding: 20px;
    display: none;
    font-size: 14px;
    color: white;
    border-radius: 6px;
    font-weight: normal;
    background: #16a34a;
    transition: opacity 0.3s ease;
}


@media (max-width: 768px) {
    .error-message{
        width: 95%;
        margin: auto;
    }

    .company-item{
        margin: 0 10px;
    }
}
