{% extends 'users/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/portfolio.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card">
            <form onsubmit="return validateStockSearchingForm()" action="" method="POST">
                {% csrf_token %}
                {% include 'users/stock_searching.html' %}
            </form>

            {% include 'errors/backend_error.html' %}
        </div>

        <div class="card">
            {% if not portfolio_datasets %}
                <p class="error-message" style="display: block;">The dataset is currently empty or incomplete.</p>
            {% else %}
                <div class="portfolio-list">
                    {% for data in portfolio_datasets %}
                        <div class="portfolio-item">
                            <div class="portfolio-header">
                                <span class="company-name">{{ data.company_name }}</span>
                                <span class="company-sector">{{ data.company_sector }}</span>

                                <i class="fas fa-trash" data-company-id="{{data.company_id}}"></i>
                            </div>

                            {% if data.error %}
                                <p class="no-market-price">{{data.error}}</p>

                            {% else %}
                                <div class="portfolio-details">
                                    {% for label, value in data.tail.items %}
                                        {% if label == "percentchange" %}
                                            <p class="portfolio-values">
                                                <span class="strong">Change (%):</span>
                                                <span class="{% if value.0|slice:':1' == '-' %}negative{% else %}positive{% endif %} values">
                                                    {{ value.0 }}
                                                </span>
                                            </p>

                                        {% else %}
                                            <p class="portfolio-values">
                                                <span class="strong">{{ value.1 }}</span>
                                                <span class="values">{{ value.0 }}</span>
                                            </p>
                                        {% endif %}

                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="when-to-sell">
                                {% for label, value in data.when_to_sell.items %}
                                    <p class="portfolio-values">
                                        <span class="strong">{{ label }}</span>

                                        {% if label == 'PROFIT / LOSS' %}
                                            <span class="{% if value|slice:':1' == '-' %}negative{% else %}positive{% endif %} values">{{ value }}</span>
                                        {% else %}
                                            <span class="values">{{ value }}</span>
                                        {% endif %}
                                    </p>
                                {% endfor %}
                            </div>
                        </div>
                    {% empty %}
                        <p class="error-message" style="display: block;">The dataset is currently empty or incomplete</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js%}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="{% static 'js/users/portfolio.js' %}"></script>
    <script src="{% static 'js/users/stock_searching.js' %}" defer></script>
{% endblock %}
