{% extends 'users/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/testonomial.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card">
            <form action="" onsubmit="return validateStockSearchingForm()" method="POST">
                {% csrf_token %}
                {% include 'users/stock_searching.html' %}
            </form>

            {% include 'errors/backend_error.html' %}
        </div>

        <div class="card testonomials">
            {% for testonomial in testonomials %}
                <div class="testonomial">
                    <p>{{ testonomial.message }}</p>

                    <a href="{% url 'testonomials' %}?testonomial_id={{testonomial.id}}&action=delete" class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% empty %}
                <p class="error-message" style="display: block;">No Testonomial</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/users/testonomials.js' %}"></script>
    <script src="{% static 'js/users/stock_searching.js' %}" defer></script>
{% endblock %}
