{% extends 'users/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/testonomial.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card">
            <form action="" onsubmit="return validateTestonomialsForm()" method="POST">
                {% csrf_token %}

                <div class="input-field">
                    <div>
                        <textarea type="text" class="testonomial-input" name="testonomial" placeholder="What do you think about StockVault?"></textarea>

                        <button type="submit" id="btn-submit" class="add-btn">
                            <i class="fas fa-plus"></i> Add
                        </button>
                    </div>

                    <p class="error-message form-error-message" style="display: none;"></p>
                </div>

            </form>

            {% include 'errors/backend_error.html' %}
        </div>

        <div class="card testonomials">
            {% for testonomial in testonomials %}
                <div class="testonomial">
                    <p>{{ testonomial.message }}</p>

                    <a href="{% url 'testonomials' %}?testonomial_id={{testonomial.id}}&action=delete" class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% empty %}
                <p class="error-message" style="display: block;">No Testonomial</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/users/testonomials.js' %}"></script>
{% endblock %}
