{% extends 'users/root.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/users/wishlist.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="card">
            <form onsubmit="return validateStockSearchingForm()" action="" method="POST">
                {% csrf_token %}
                {% include 'users/stock_searching.html' %}
            </form>

            {% include 'errors/backend_error.html' %}
        </div>

        <div class="card company-list">
            {% for data in saved_companies %}
                <div class="company">
                    <p>{{ data.company_name }}</p>

                    <a href="{% url 'wishlist' %}?company_id={{data.id}}&action=delete" class="delete-btn">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% empty %}
                <p class="error-message" style="display: block;">No wishlist</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/users/stock_searching.js' %}" defer></script>

    <script id="companies" type="application/json">
        {{ companies|safe }}
    </script>
{% endblock %}
